#output {
	table {

		thead {
			color: white;

			th {
			}
		}

		tr {
			padding-left: 1em;
			border-left: 10px solid transparent;

			&:hover {
				border-left: 10px solid slategrey;
				cursor: pointer;
			}

			&.fade {
				border-left: 10px solid darkslategrey;
				color: #7f7f7f;
			}
		}

		tbody {
			color: white;
		}
	}
}

.btn-floating {
	user-select: none;
}

nav {
	img {
		height: 50px;
		width: 50px;
	}
}
