#output table thead {
  color: white;
}
#output table tr {
  padding-left: 1em;
  border-left: 10px solid transparent;
}
#output table tr:hover {
  border-left: 10px solid slategrey;
  cursor: pointer;
}
#output table tr.fade {
  border-left: 10px solid darkslategrey;
  color: #7f7f7f;
}
#output table tbody {
  color: white;
}

.btn-floating {
  user-select: none;
}

nav img {
  height: 50px;
  width: 50px;
}
